.skilltitle {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.maintechbox_2 {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.techimage {
	cursor: pointer;
	position: relative;
	width: 100px;
	height: 100px;
	margin: 15px 8px 8px 8px;
	transition: all 0.1s ease 0s;
}

.techimage>img {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 5%;
	object-fit: contain;
	transition: all 0.1s ease 0s;
	opacity: 1;
}

.techimage:hover>img {
	transition: all 0.1s ease 0s;
	transform: scale(1.1);
	opacity: 0.3;
}

.techimage>div {
	position: absolute;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	user-select: none;
	opacity: 0;
	width: 100%;
	height: 100%;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	margin: auto;
	transition: all 0.5s ease 0s;
}

.techimage:hover>div {
	opacity: 1;
	transition: all 1s ease 0s;
}

a {
	text-decoration: none;
}

.probar {
	margin-top: 50px;
	margin-left: 10px;
	margin-right: 20px;
}

.workbox {
	display: flex;
	flex-flow: row wrap; /*자동조절*/
	justify-content: space-between; /*같은 간격조절*/
}

.workbox>* {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 300px;
	margin: 15px;
}

.imagebox {
	cursor: pointer;
	transition: all 0.2s ease 0s;
}

.imagebox>* {
	width: 100%;;
	margin: 4px 0px;
	transition: all 0.2s ease 0s;
}

.imagebox>img {
	border-radius: 8px;
	max-height: 400px;
	object-fit: cover;
	transition: all 0.2s ease 0s;
}

.imagebox:hover>* {
	transform: scale(1.05);
	transition: all 0.2s ease 0s;
}